@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dosis';
  src: url('/fonts/dosis/Dosis-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'barlow';
  src: url('/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf');
}
