@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dosis';
  src: url('/dosis/Dosis-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Dosis';
  src: url('/Bruno-Ace/BrunoAce-Regular.ttf');
}
